html{
  scroll-behavior: smooth;
}

body{
  background-color: #FFC0A1;
  font-size: 20px;
  font-family: 'Palatino', sans-serif;
  color: black;
}

p{
  margin: 10px;
  line-height: 1.2;
}

nav ul{
  list-style-type: none;
  text-align: center;
  margin-right: 30px;
}

nav li{
  display: inline-block;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

nav a{
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.nav li a.active{
  color: #2F479B;
}

h1{
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  font-family: 'Julius Sans One', sans-serif;
}

a{
  color: black;
  text-decoration: none;
}


.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-template-rows: auto auto auto auto auto;
  width: 100vw; 
}

.nav{
  grid-row: 1/span 1;
  grid-column: 1/-1;
  background-color: #AED1D6;
}

header{      
  grid-row: 2/span 1;
  grid-column: 1/-1;
  justify-self: center;
}

.painting{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  grid-row: 4/span 1;
  grid-column: 1/-1;
}

.about{
  grid-row: 3/span 1;
  grid-column: 1/-1;
  padding-left: 50px;
  padding-right: 50px;
}

.intro{
  grid-row: 3/span 1;
  grid-column: 1/-1;
  padding-left: 50px;
  padding-right: 50px;
  justify-self: center;
}

.whitetwo {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  display: block;
  grid-row: 4/span 1;
  grid-column: 1/4;
  padding-bottom: 30px;
}

.poema1 {
  grid-row: 4/span 1;
  grid-column: 4/6;
  justify-self: center;
  text-align: center;

}

.chefchauen {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  padding-bottom: 30px;
  display: block;
  grid-row: 5/span 1;
  grid-column: 1/4;
}

.poema2 {
  grid-row: 5/span 1;
  grid-column: 4/6;
  justify-self: center;
  text-align: center;
}

.friends {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  display: block;
  grid-row: 6/span 1;
  grid-column: 1/4;
}
.poema3 {
  grid-row: 6/span 1;
  grid-column: 4/6;
  justify-self: center;
  text-align: center;
}

.description {
  grid-row: 7/span 1;
  grid-column: 1/-1;
  justify-self: center;
}

.gallery {
  grid-row: 3/span 1;
  grid-column: 1/-1;
  padding-left: 50px;
  padding-right: 50px;
  justify-self: center;
}

.sunset{
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  grid-row: 4/span 1;
  grid-column: 1/3;
}

.city {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  grid-row: 4/span 1;
  grid-column: 3/5;
}

.flowers {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  grid-row: 4/span 2;
  grid-column: 5/-1;
}

.refleccion1 {
  grid-row: 5/span 1;
  grid-column: 1/5;
  justify-self: center;
}

.door {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  grid-row: 6/span 2;
  grid-column: 1/4;
}

.whitethree {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  grid-row: 6/span 2;
  grid-column: 4/-1;
}

.refleccion2 {
  grid-row: 8/span 1;
  grid-column: 1/-1;
  justify-self: center;
}

.plants {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  grid-row: 9/span 1;
  grid-column: 1/4;
}

.sunsettwo {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  grid-row: 9/span 1;
  grid-column: 4/-1;

}



